__pycache__
*.pyc
*.swp
*.o
*.so
*.egg-info

*.debhelper
*.log
*.substvars
*-stamp
debian/files
debian/londiste
debian/python-*
debian/python3-*

.tox
.pybuild
.pytype
.coverage
MANIFEST
build
tmp

dist

conf
log
pid
*.log
*.pid
