#  TODO: put postgres into separate container?
version: "3.9"
services:
  test_obfuscate:
    build: .
    volumes:
      - londiste_test
    networks:
      - londiste_test
    command: ["./obfuscate/docker_run.sh"]

  test_simple:
    build: .
    volumes:
      - londiste_test
    networks:
      - londiste_test
    command: ["./simple/docker_run.sh"]

networks:
  londiste_test:

volumes:
  londiste_test:
