Source: londiste
Section: python
Priority: optional
Maintainer: Marko Kreen <markokr@gmail.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), dh-python, python-all, python3-all, python-setuptools, python3-setuptools
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.5

Package: python-londiste
Provides: londiste
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-yaml
Description: Database replication for PostgreSQL based on PgQ
 .

Package: python3-londiste
Provides: londiste3
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-yaml
Description: Database replication for PostgreSQL based on PgQ
 .

